
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;   
    font-family: 'San Francisco', Helvetica, Arial, sans-serif;    
}


.main-container {
    width: 375px;
    height: 100vh;
    border: 1px solid rgb(13, 153, 255);
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.main-container > .upper-container {
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 16px;
    /* border-bottom: 1px solid rgb(200, 200, 200);  */
}

.upper-container p {
    font-size: 32px;
    font-family: 'San Francisco', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
}

.upper-container button {
    height: 30px;
    width: 30px;
    background-color: white;
    color: skyblue;
    border: 1px solid skyblue;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
    outline: none;
}

.upper-container button:active {
    box-shadow: none;
}


.modal {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 300px;
    height: 150px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    border-radius: 8px; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1); 
  
}


.modal-content > textarea {
    width: 295px;
    height: 144px;
    padding: 10px auto;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    font-size: 16px;
    resize: none; 
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer button {
    width: 48%;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.footer button:first-child {
    background-color:rgb(240,240,240);
    color: rgb(50,50,50);
}

.footer button:last-child {
    background-color:skyblue;
    color: white;
}
.icon1:hover{
    transform:scale(1.2);
}
.icon2:hover{
    transform: scale(1.2);
}
.icon1{
   
    top:35%;
    position:absolute;
    /* margin-left:240px; */
     /* transform: translateY(-50%);  */
     /* right:150px; */
     left:300px;
     border-color:aquamarine;
    
        font-size: 20px;
        color: #b67eff;

    
}
.icon1:active{
    color:#61DEA4;
}
.icon2{

        position: absolute;
        top:35%;
        /* transform: translateY(-50%); */
        left:330px;
        
        font-size: 20px;
        color: #b67eff;

/*    
    margin-left:10px;
   margin-right:10px; */
}
.todo-checkbox{
    margin-top:8px;
    margin-right:10px;
    margin-left:10px;
    height:15px;
    width:15px;
    border-radius: 10px;
    /* display: none; */
    border:1px solid black;
    /* background-color: tomato;
    border-radius: 50%; */
  
}
.div1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.div1 > input{
   
        height: 50px;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid skyblue;
        margin-left: 10px;
       
        text-align:center;
        margin-top:10px;

}
.div1 > button{
    
        height: 40px;
        font-size: 18px;
        border-radius: 8px;
        background-color:  skyblue;
        margin-left: 15px;
        margin-right:5px;
        color:black;
   
        text-align:center;
        margin-top:14px;

}
.div2{

        display: flex;
        justify-content:space-between;
        position: relative;
        font-size: 18px;
        margin-top: 8px;
     border:1px solid lightgray;
   
}
.completed{
    
        background-color: #61DEA4;
        font-size: 18px;
        position: absolute;
        color: white;
        left:270px;
        font-weight:bold;
        right:10px;
        /* // borderRadius:15px; */
}
.todo-item{
 display: flex ;
 justify-content: space-between ;
}